/* Global Style */
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

/* Web Page Style */
/* Font */
.titre1_desktop {
  font-family: "Libre Baskerville", serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-size: 1.6rem !important;
}

.titre2_desktop {
  font-family: "Libre Baskerville", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 1.1rem !important;
  letter-spacing: 0.03em !important;
}

.paragraphe_desktop {
  font-family: "Montserrat", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 1rem !important;
  letter-spacing: 0.025em !important;
}

.bold_paragraphe {
  font-weight: bold !important;
}

.semibold_paragraphe {
  font-weight: 600 !important;
}

.txt-btn_desktop {
  font-family: "Montserrat", serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 1.3rem !important;
  letter-spacing: 0em !important;
}

/* Font Color */
.green_text {
  color: #098137 !important;
}

.red_text {
  color: #b23b53 !important;
}

.blue_text {
  color: #2a4c9b !important;
}

.mauve_text {
  color: #692b85 !important;
}

.orange_text {
  color: #f1a80f !important;
}

/* Background Color */
.green_background {
  background: radial-gradient(circle, rgb(9, 129, 55) 0%, rgb(114, 204, 149) 100%) !important;
}

.orange_background {
  background-color: #f1a80f !important;
}

.pink_background {
  background-color: #da4d66 !important;
}

/* Border Color */
.red_border {
  border: #b23b53 1px solid;
}

/* Elements communs */
.bouton_desktop {
  display: block;
  margin: 0 auto !important;
  width: 190px !important;
  text-align: center;
  color: #b23b53;
  background-color: #f1a80f;
  border-radius: 8px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  letter-spacing: 0em;
  padding: 8px 25px !important;
  -webkit-text-stroke: 0.02rem black;
  text-shadow: 1px 2px 3px black;
}

input[type=checkbox]:hover, a:hover, .bouton_desktop:hover {
  cursor: pointer;
}

/* Global */
.global {
  width: 100%;
  overflow: hidden;
}

/* Navbar Desktop */
#navbar_desktop {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 112px !important;
  z-index: 1000 !important;
}

.container_logo {
  width: 20%;
}

.container_menu {
  width: 60% !important;
}

#logo_desktop {
  width: 345px !important;
}

.link_navbar-desktop {
  margin: 5px !important;
  z-index: 1 !important;
  transition: color 0.3s ease, border-bottom 0.3s ease !important;
}

.Navbar_desktop_select {
  color: #692b85 !important;
  border-bottom: #692b85 2px solid;
}

.link_navbar-desktop a {
  color: #2a4c9b;
  -webkit-text-stroke: 0.02rem black;
  text-shadow: 1px 2px 6px #f1a80f;
}

.link_navbar-desktop a:hover {
  color: #692b85 !important;
  border-bottom: #692b85 2px solid;
}

/* Navbar Mobile */
#navbar_mobile {
  display: none;
}

#logo_mobile {
  width: 250px !important;
}

.hamburger_icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.croix_icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}

.container_menu_mobile {
  position: relative;
}

.sous-menu {
  position: absolute;
  right: -250px;
  top: 35px !important;
  background: linear-gradient(262deg, rgb(9, 129, 55) 0%, rgb(114, 204, 149) 100%);
  margin: 0;
  padding: 0;
  width: 190px;
  border-radius: 5px 0px 5px 15px;
  z-index: 1;
}

.sous-menu li {
  text-align: end;
  margin-bottom: 10px !important;
}

.sous-menu li a {
  padding: 15px !important;
  -webkit-text-stroke: 0.02rem black;
  text-shadow: 1px 1px 2px black;
}

.Navbar_mobile_select {
  color: #2a4c9b !important;
}

.sous-menu li a:hover,
button:hover {
  color: #2a4c9b !important;
}

main {
  margin-top: 90px !important;
  margin-bottom: 100px !important;
  overflow-y: auto !important;
  padding: 0 20px;
}

/* Footer */
#footer {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100px !important;
  z-index: 1000 !important;
}

.footer_container {
  display: flex;
  width: 100%;
  padding: 1% !important;
}

.footer_desktop {
  display: flex;
}

#contact {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

#legale {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#contact a,
#legale div a {
  color: black;
  text-decoration: underline !important;
}

#legale div {
  display: flex !important;
  align-items: center !important;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  #navbar_desktop {
    display: none!important;
  }
  #navbar_mobile {
    display: block;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 70px !important;
    z-index: 1000 !important;
  }
  main {
    margin-top: 70px !important;
    margin-bottom: 0px !important;
    overflow-y: auto !important;
    padding: 0 20px;
  }
  #contact,
  #legale {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1% !important;
  }
  #contact h2 {
    text-align: center !important;
  }
  #footer {
    height: 200px !important;
    position: relative !important;
    width: 100% !important;
    z-index: 1000 !important;
  }
}


